<div class="container-fluid"><div class="row">
        <div class="container-fluid">
            <h1 class="page-header">ICD bearbeiten</h1>
            <form role="form">
                <div class="form-group">

                    <div class="form-group">
                        <label>Code:</label>


                        <input id='input-to-add' class='form-control' placeholder='Enter text'  ng-model="icd.code"/>
                    </div>
                    <div class="form-group">

                        <label>Diagnose:</label>
                        <input id='input-to-add' class='form-control' placeholder='Enter text' ng-model="icd.diagnose"/>
                    </div>
                    <div class="form-group">
                        <label>Type</label> 
                        <p>
                            <div class="radio-inline"> <label> <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="icd.type" value="Normal" checked="">Normal </label> </div> 
                            <div class="radio-inline"> <label> <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="icd.type" value="Hauptdiagnose">Hauptdiagnose </label> </div>
                            <div class="radio-inline"> <label> <input type="radio" name="optionsRadios" id="optionsRadios3" ng-model="icd.type" value="Gefährlich">Gefährlich </label> </div>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-9">
                        <button  type="submit" id="btn-margin-top" ng-click="save()" class="btn btn-primary">bearbeiten</button>
                        <button type="reset" id="btn-margin-top" class="btn btn-default">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
