<div class="container-fluid">
    <h1 class="page-header"ng-bind-html="icd.code"></h1>

    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Diagnose:</h4>
            </div> 
            <h4 ng-bind-html="icd.diagnose"></h4>
        </div>
    </div>
    <div class="well well-sm">      
        <div class="row">
            <div class="col-lg-2">
                <h4>Type</h4>
            </div> 
            <h4 ng-bind-html="icd.type"></h4>
        </div>
    </div>
</div>