<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="row">
	<div class="container-fluid">
		<h1 class="page-header">Krankheit hinzufügen</h1>
		<form role="form">
			<div class="form-group">
				<div class="col-lg-6">
					<div class="form-group">
						<label>Title:</label>
						
						
						<input id='input-to-add' class='form-control' placeholder='Enter text'  ng-model="krankheit.title"/>
					</div>
					<div class="form-group">

						<label>Autor:</label>
						<input id='input-to-add' class='form-control' placeholder='Enter text' ng-model="krankheit.autor"/>
						
					</div>
				</div>
				<div class="form-group">

					<label>date:</label>
					
					<p class="input-group">
						<input type="text" placeholder="Date" class="form-control" uib-datepicker-popup ng-model="krankheit.date" is-open="popup2.opened" datepicker-options="inlineOptions" ng-required="false" close-text="Close" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
				</div>
				<div class="form-group">
					<label>Prozedur:</label>
					<p class="input-group">
						<input class="form-control" placeholder="Prozedur" id="disabledInput" ng-model="prozedur.title">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="openProzedurForm()"><i class="fa fa-medkit"></i></button>
						</span>
					</p>
				</div>
				<div class="col-lg-12">

					<ul class="nav nav-tabs">
						<li class="active"><a href="/dashboard/krankheit/detail/#uebersicht" data-toggle="tab">Übersicht</a>
						</li>
						<li><a  href="/dashboard/krankheit/detail/#diagnostik" data-toggle="tab">Diagnostik</a>
						</li>
						<li><a href="/dashboard/krankheit/detail/#therapie" data-toggle="tab">Therapie</a>
						</li>
						<li><a href="/dashboard/krankheit/detail/#beratung" data-toggle="tab">Beratung</a>
						</li>
						<li><a href="/dashboard/krankheit/detail/#notes" data-toggle="tab">Notes</a>
						</li>
						<li><a href="/dashboard/krankheit/detail/#umls" data-toggle="tab">Umls</a>
						</li>
					</ul>

					<div class="tab-content"id="ckeditor-margin-top">
						<div class="tab-pane fade" id="umls">

							<text ng-model="krankheit.umls.text" ></text>
							<div class="container">

							<form>
								<div class="col-sm-5">

									<div class="input-group">
										
										<div class="input-group-addon"><span style="cursor:pointer"><i ng-click="sendPost()" type="submit" class="fa fa-search" data-toggle="modal" data-target="#myModal"></i></div>
										<input type="text" class="form-control" placeholder="umls" ng-model="umlsTerm">
										  
   
									</div>      
								</div>
							</form>


						

							
								<!-- Trigger the modal with a button -->

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Show Result</button>
								<!-- Modal -->
								<div class="modal fade" id="myModal" role="dialog">

									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>

												<h4 class="modal-title">List of Cui</h4>
											</div>
											<div class="modal-body">
												<loading></loading>
												<table class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th>Name</th>
															<th>Cui </th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="umls in (umlsL)">
														<!--<td ng-bind="umls.name"></td> 
														<td ng-bind-html="umls.name | ellipsis"></td>-->
														<td ng-bind-html="umls.name"></td>
														<td ng-bind-html="umls.ui"></td>


														<td>
															<button type="button" ng-click="sendCui(umls.ui,umls.name)" class="btn btn-info btn-circle" data-toggle="modal" data-target="#myModal1"><i class="fa fa-check"></i> </button>
														</td>
													</tr>
												</tbody>
											</table>

										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											
											</div>
										</div>

									</div>
								</div>
								<div class="modal fade" id="myModal1" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>

												<h4 class="modal-title">Informations</h4><loading></loading>
											</div>
											<div class="modal-body">
												


												
												<h4>Cui:</h4><div ng-bind-html="definition.ui"></div>

												<h4>Definition:</h4> <div ng-bind-html="definition.definition"></div></p>
												<h4>Semantic Type:</h4><div ng-bind-html="definition.semanticType"></div>
												<h4>Number of Atoms:</h4><div ng-bind-html="definition.numberOfAtom"></div>
												

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button  type="submit" ng-click="saveUmls(definition)" class="btn btn-primary">Save</button>

											</div>
										</div>

									</div>
								</div>


							</div>



						</div>
						<div class="tab-pane fade in active" id="uebersicht">

							<text-angular ng-model="krankheit.uebersicht.text" ></text-angular>
							<h3 id="notfall-col">Übersicht Notfall</h3>
							<text-angular ng-model="krankheit.uebersicht.notfall"></text-angular>

						</div>
						<div class="tab-pane fade" id="diagnostik">
							<text-angular ng-model="krankheit.diagnostik.text" ></text-angular>
							<h3 id="notfall-col">Diagnostik Notfall</h3>
							<text-angular ng-model="krankheit.diagnostik.notfall"></text-angular>
						</div>
						<div class="tab-pane fade" id="therapie">
							<text-angular ng-model="krankheit.therapie.text" ></text-angular>
							<h3 id="notfall-col">Therapie Notfall</h3>
							<text-angular ng-model="krankheit.therapie.notfall"></text-angular>
						</div>
						<div class="tab-pane fade" id="beratung">
							<text-angular ng-model="krankheit.beratung.text" ></text-angular>
							<h3 id="notfall-col">Beratung Notfall</h3>
							<text-angular ng-model="krankheit.beratung.notfall"></text-angular>
						</div>
						<div class="tab-pane fade" id="notes">
							<text-angular ng-model="krankheit.notes" ></text-angular>
						<!--<h3 id="notfall-col">ICD Nummer</h3>
						<text-angular ng-model="krankheit.notes" ></text-angular>
						<button type="button" class="page-header btn btn-default btn-circle btn-lg"ng-click="openIcdForm()"><i class="fa fa-search"></i>  

						</button> -->

						
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-4 col-md-offset-9">
					<button  type="submit" id="btn-margin-top" ng-click="save()" class="btn btn-primary">hinzufügen</button>
					<button type="reset" id="btn-margin-top" class="btn btn-default">Reset</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>
