<div class="panel panel-default">
    <div class="panel-heading">
        Link
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="/dashboard/krankheit/bearbeitentext/#krankheit" data-toggle="tab">Krankheit</a>
            </li>
            <li><a  href="/dashboard/krankheit/bearbeitentext/#prozedur" data-toggle="tab">Prozedur</a>
            </li>
            <li><a href="/dashboard/krankheit/bearbeitentext/#ICD-Nummer" data-toggle="tab">ICD-Nummer</a>
            </li>
            <li><a href="/dashboard/krankheit/bearbeitentext/#Medikament" data-toggle="tab">Medikament</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="krankheit">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Krankheit" ng-model="searchKrankheit">
                        </div>      
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="krankheit in (krankheits| filter:searchKrankheit).slice(((currentPageK-1)*itemsPerPageK), ((currentPageK)*itemsPerPageK))">
                            <td ng-bind="krankheit.title"></td>


                            <td>
                                <button type="button" ng-click="checkKrankheitlink(krankheit)" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="totalItemsK" ng-model="currentPageK" max-size="maxSizeK" class="pagination-sm" boundary-link-numbers="true"style="
                margin-left: 30%;"></uib-pagination>

            </div>

            
            <div class="tab-pane fade" id="prozedur">
                <div id="table-prozedur" class="table-responsive">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Prozedur" ng-model="searchTitle">
                            </div>      
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th> </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prozedur in (prozedurs | filter:searchTitle).slice(((currentPageP-1)*itemsPerPageP), ((currentPageP)*itemsPerPageP))">
                                <td ng-bind="prozedur.title"></td>
                                <td>
                                    <button type="button" ng-click="checkProzedurlink(prozedur)" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <uib-pagination total-items="totalItemsP" ng-model="currentPageP" max-size="maxSizeP" class="pagination-sm" boundary-link-numbers="true" style="
                margin-left: 30%;"></uib-pagination>
            </div>
            <div class="tab-pane fade" id="ICD-Nummer">
               <div id="table-icd" class="table-responsive">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="ICD" ng-model="searchIcd">
                        </div>      
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Diagnose</th>
                            <th> </th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="icd in (icds| filter:searchIcd).slice(((currentPageG-1)*itemsPerPageG), ((currentPageG)*itemsPerPageG))">
                            <td ng-bind="icd.code"></td>
                            <td ng-bind="icd.diagnose"></td>

                            <td>
                                <button type="button" ng-click="checkICDlink(icd)" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="totalItemsG" ng-model="currentPageG" max-size="maxSizeG" class="pagination-sm" boundary-link-numbers="true"style="
                margin-left: 20%;"></uib-pagination>
            </div>
        </div>
        <div class="tab-pane fade" id="Medikament">
            <div id="table-medikament" class="table-responsive">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Medikament" ng-model="searchMedikament">
                        </div>      
                    </div>
                </form>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="medikament in (medikaments| filter:searchMedikament).slice(((currentPageM-1)*itemsPerPageM), ((currentPageM)*itemsPerPageM))">
                            <td ng-bind="medikament.name"></td>

                            <td>
                                <button type="button" ng-click="checkMedikamentlink(medikament)" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <uib-pagination total-items="totalItemsM" ng-model="currentPageM" max-size="maxSizeM" class="pagination-sm" boundary-link-numbers="true"style="
                margin-left: 20%;"></uib-pagination>
            </div>

        </div>

    </div>
</div>
</div>
