<div class="panel panel-default">
    <div class="panel-heading">
        Prozedur
    </div>
    <div class="panel-body">
        <div id="table-prozedur" class="table-responsive">
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Title" ng-model="searchTitle">
                    </div>      
                </div>
            </form>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prozedur in (prozedurs | filter:searchTitle).slice(((currentPageP-1)*itemsPerPageP), ((currentPageP)*itemsPerPageP))">
                        <td ng-bind="prozedur.title"></td>

                        
                        <td>
                            <button type="button" ng-click="checkProzedur(prozedur)" class="btn btn-info btn-circle"><i class="fa fa-check"></i> </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <uib-pagination total-items="totalItemsP" ng-model="currentPageP" max-size="maxSizeP" class="pagination-sm" boundary-link-numbers="true" style="
        margin-left: 20%;"></uib-pagination>     
    </div>
</div>
