<div class="row">
	<div class="container-fluid">
		<h1 class="page-header">UMLS</h1>
		
		<form role="form">
			<div class="form-group">
				<div class="col-lg-6">
					<div class="form-group">
						<label>Krankheit</label>
						<p class="input-group">
							<input class="form-control" placeholder="Krankheit" id="disabledInput" ng-model="prozedur.title">
							<span class="input-group-btn">
								<button class="btn btn-default" ng-click="openKrankheitForm()"><i class="fa fa-medkit"></i></button>
							</span>
						</p>
					</div>
					<div class="form-group">
						<div align=left>
							<h3>List of Cui({{tit}})</h3>
							<div ng-repeat="t in table">
								
								
								<h4>		Cui {{$index+1}}:  {{t}}   </h4></div>
							</div>
						</div>



						
					</div>
				</div>
				<div class="form-group">
					<label>Krankheit</label>
					<p class="input-group">
						<input class="form-control" placeholder="Krankheit" id="disabledInput" ng-model="prozedur.title">
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="openKrankheitForm2()"><i class="fa fa-medkit"></i></button>
						</span>
					</p>
				</div>
				<div class="form-group">
					






					<div align=right>
						<h3>List of Cui({{tit2}})&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  </h3>
						<div ng-repeat="t2 in table2">
							
							<h4>		Cui {{$index+1}}:  {{t2}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     </h4></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	
	 <div ng-repeat="d in (rela)">
<h4><div align=left> The relations are:</div></h4>
	 	<h4>&nbsp&nbsp&nbsp&nbsp{{d}}</h4></div><br><br>
	 	<h3>{{Nonrela}}</h3></div>


	
	</div>


<div align=center>
	<div  class="row">
			<button  type="submit" id="btn-margin-top" ng-click="checkRelation(table,table2)" class="btn btn-primary">Check relation</button>
		
	</div>
</div>





