<div class="row">
    <div ng-if="HauptKrankheits">
       <div class="col-md-12">
        <h1 class="page-header">Krankheit</h1>
    </div>
    <div class="col-md-4">
        <h3 class="page-header">ICD Hauptdiagnose</h3>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="krankheit in HauptKrankheits">
                        <td ng-bind="krankheit.title"></td>
                        <td>
                            <a ui-sref="dashboard.krankheitDetail({ title: krankheit.title })"> 
                                <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="dashboard.krankheitNotfall({ title: krankheit.title })"> 
                                <button type="button" ng-click="" class="btn btn-danger btn-circle">
                                    <i class="fa fa-ambulance"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="NebenKrankheits">
    <div class="col-md-4">
        <h3 class="page-header">ICD Gefährlich</h3>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th> </th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="krankheit in NebenKrankheits">
                        <td ng-bind="krankheit.title"></td>
                        <td>
                            <a ui-sref="dashboard.krankheitDetail({ title: krankheit.title })"> 
                                <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="dashboard.krankheitNotfall({ title: krankheit.title })"> 
                                <button type="button" ng-click="" class="btn btn-danger btn-circle">
                                    <i class="fa fa-ambulance"></i>
                                </button>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="krankheits">
    <div class="col-md-4">
        <h3 class="page-header">Gesamt</h3>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th> </th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="krankheit in krankheits">
                        <td ng-bind="krankheit.title"></td>
                        <td>
                            <a ui-sref="dashboard.krankheitDetail({ title: krankheit.title })"> 
                                <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="dashboard.krankheitNotfall({ title: krankheit.title })"> 
                                <button type="button" ng-click="" class="btn btn-danger btn-circle">
                                    <i class="fa fa-ambulance"></i>
                                </button>
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="HauptKrankheits">
   <div class="col-md-12">
    <h1 class="page-header">Prozedur</h1>
</div>
<div class="col-md-4">
    <h3 class="page-header">ICD Hauptdiagnose</h3>
    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>Title</th>
                    <th> </th>
                    <th> </th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prozedur in HauptProzedurs">
                    <td ng-bind="prozedur.title"></td>
                    <td>
                        <a ui-sref="dashboard.prozedurDetail({ title: prozedur.title })"> 
                            <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                <i class="fa fa-list"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <a ui-sref="dashboard.prozedurNotfall({ title: prozedur.title })"> 
                            <button type="button" ng-click="" class="btn btn-danger btn-circle">
                                <i class="fa fa-ambulance"></i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<div ng-if="NebenProzedurs">
    <div class="col-md-4">
        <h3 class="page-header">ICD Gefährlich</h3>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th> </th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prozedur in NebenProzedurs">
                        <td ng-bind="prozedur.title"></td>
                        <td>
                            <a ui-sref="dashboard.prozedurDetail({ title: prozedur.title })"> 
                                <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="dashboard.prozedurNotfall({ title: prozedur.title })"> 
                                <button type="button" ng-click="" class="btn btn-danger btn-circle">
                                    <i class="fa fa-ambulance"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="prozedurs">
    <div class="col-md-4">
        <h3 class="page-header">Gesamt</h3>
        <div class="dataTable_wrapper">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th> </th>
                        <th> </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prozedur in prozedurs">
                        <td ng-bind="prozedur.title"></td>
                        <td>
                            <a ui-sref="dashboard.prozedurDetail({ title: prozedur.title })"> 
                                <button type="button" ng-click="" class="btn btn-primary btn-circle">
                                    <i class="fa fa-list"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a ui-sref="dashboard.prozedurNotfall({ title: prozedur.title })"> 
                                <button type="button" ng-click="" class="btn btn-danger btn-circle">
                                    <i class="fa fa-ambulance"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>